@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --first-color: #081c15;
   --second-color: #1b4332;
   --third-color: #2d6a4f;
   --fourth-color: #40916c;
   --fifth-color: #52b788;
   --sixth-color: #74c69d;
   --seventh-color: #d8f3dc;
}

ul{
   list-style-type: none;
}
a{
   text-decoration: none; 
   color: var(--seventh-color);
}

body{
   font-family: 'Poppins', sans-serif;
   color: var(--sixth-color);
}

/* Close button */

#btn {
	position: fixed;
	width: 30px;
	height: 30px;
	top: 34px;
   left: 20px;
   z-index: 10000000;
	cursor: pointer;
	background: var(--first-color);
	border: none;
   outline: none;
   border-radius: 4px;
}

#btn span {
	position: absolute;
	width: 90%;
	height: 4px;
	top: 50%;
	left: 50%;
	background: var(--fifth-color);
	border-radius: 2px;
	overflow: hidden;
   transition: all 0.3s linear;
}

#btn span::before {
	content: '';
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	background: gray;
	transition: all 0.3s linear;
}

#btn span:nth-child(1) {
	animation: span-first-off 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

#btn span:nth-child(2) {
	animation: span-second-off 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

#btn span:nth-child(3) {
	animation: span-third-off 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

#btn.on:hover span::before {
	width: 100%;
	transition: all 0.3s linear;
}

#btn.on span:nth-child(1) {
	animation: span-first-on 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

#btn.on span:nth-child(2) {
	animation: span-second-on 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

#btn.on span:nth-child(3) {
	animation: span-third-on 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes span-first-on {
	0% {
		transform: translate(-50%, -300%);
	}

	30% {
		transform: translate(-50%, -50%);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

@keyframes span-first-off {
	0% {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	30% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -300%);
	}
}

@keyframes span-second-on {
	0% {
		transform: translate(-50%, -50%);
	}

	25% {
		background: gray;
	}

	50% {
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		transform: translate(-150%, -50%) scale(0);
	}
}

@keyframes span-second-off {
	0% {
		transform: translate(-150%, -50%) scale(0);
	}

	25% {
		background: gray;
	}

	50% {
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes span-third-on {
	0% {
		transform: translate(-50%, 200%);
	}

	30% {
		transform: translate(-50%, -50%);
	}

	100% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

@keyframes span-third-off {
	0% {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	30% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, 200%);
	}
}
/* Close button */

.show{
   display: block;
}

.main{
   background: var(--first-color);
   width: 100%;
   min-height: 100vh;
   display: flex;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea{
   background-color: var(--sixth-color);
   color: var(--first-color);
   border: none;
   outline: none;
}
select{
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 10px;
   background-color: var(--sixth-color);
}

.title{
   text-align: center;
   padding: 1rem 0;
   box-shadow: 2px 0 8px var(--first-color);
   background: var(--second-color);
   color: #f3f3f3;
}

.main .nav{
   width: fit-content;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   background: var(--second-color);
   display: none;
   z-index: 100;
}

.nav ul li{
   padding: 0.8rem 1rem;
   transition: all 0.4s ease-in-out;
   background-color: var(--second-color);
   border-bottom: 1px solid var(--seventh-color);
   cursor: pointer;
}

.nav .nav-title{
   background-color: #0e1922;
   padding: 2rem;
   color: var(--fifth-color);
   border-bottom: 2px solid #223341;
   position: relative;
   text-align: right;
}
.nav .nav-title span{
   margin-right: 1rem;
}
.nav ul li a span{
   float: right;
   margin-left: 40px;
}

.nav ul li a{
   font-size: 1rem;
   color: var(--sixth-color);
}

.nav ul li:hover{
   background-color: var(--first-color);
}
.nav ul li:hover a{
   color: var(--seventh-color);
}

.nav .logout{
   position: absolute;
   bottom: 3rem;
   width: 90%;
   text-align: center;
   padding: 0.5rem 1rem;
   background: var(--fourth-color);
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: 700;
   transition: all 0.4s ease-in-out;
   margin: 0 1rem;
}
.nav .logout:hover{
   background: var(--third-color);
}


#default,
#store-categories,
#store,
#resturant,
#product-categories,
#resturant-categories,
#food-categories,
#customer,
#user-profile,
#customer-product,
#address,
.update-window-long,
.update-window-short{
   position: relative;
   min-height: 100vh;
   width: 100%;
   padding: 1rem;
}

#default h1{
   color: var(--fifth-color);
   font-size: 3rem;
   text-align: center;
}

/* Breadcrumbs */
ul.special-head {
   padding: 30px 16px;
   list-style: none;
   display: flex;
   margin-top: -1rem;
   justify-content: flex-end;
   border-bottom: 1px solid var(--seventh-color);
 }
 ul.special-head li {
   display: inline;
   font-size: 18px;
 }
 ul.special-head li+li:before {
   padding: 8px;
   color: var(--sixth-color);
   content: "/\00a0";
 }
 ul.special-head li a {
   color: var(--third-color);
   text-decoration: none;
   transition: 0.3s;
 }
 ul.special-head li a:hover {
   color: var(--sixth-color);
   text-decoration: underline;
 }
/* Breadcrumbs */

/* store categories */

.add-btn{
   border: none;
   padding: 0.4rem 1rem;
   font-size: 1.5rem;
   background: var(--second-color);
   color: var(--seventh-color);
   border-radius: 6px;
   outline: none;
   cursor: pointer;
   width: 100%;
   display: block;
   text-align: center;
   transition: all 0.4s ease-in-out;
   margin-top: 1rem;
}

.add-btn:hover{
   background: var(--third-color);
}

.table-wrapper{
   overflow-x: auto;
}

.small-table{
   width: 100%;
   margin-top: 1rem;
   border: 1px solid var(--sixth-color);
   border-radius: 5px;
   border-spacing: 0px;
   border-collapse: collapse;
   color: var(--sixth-color);
}
.small-table th,
.small-table td{
   border: 1px solid var(--sixth-color);
   font-size: 1.4rem;
   font-weight: 600;
   padding: 0.2rem 0.5rem;
   text-align: left;
} 
.small-table td{
   font-size: 1.2rem;
   font-weight: 500;
}
.small-table td img{
   width: 80px;
   margin: auto;
}
.back-btn{
   background: var(--fifth-color);
   padding: 0.5rem 1rem;
   margin: 1rem 0;
   width: fit-content;
   border-radius: 5px;
   font-size: 1.2rem;
   border: none;
   outline: none;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
   display: block;
}
.back-btn:hover{
   transform: translateX(-5px);
}
.back-btn span{
   font-weight: 700;
}
/* store categories */

/* store */
#store > form,
#resturant > form,
#customer > form,
#customer-product > form{
   padding: 0.5rem 0;
   display: flex;
   justify-content: center;
}
#store > form input,
#resturant > form input,
#customer > form input,
#customer-product > form input{
   font-size: 1rem;
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 0.4rem 0.8rem;
   margin-right: 0.2rem;
   width: 30%;
}

.small-btn,
#resturant form button{
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 0.4rem 0.8rem;
   font-size: 1rem;
   color: var(--sixth-color);
   background: var(--second-color);
   margin-left: 0.2rem;
   cursor: pointer;
}

.large-table{
   border: 1px solid var(--sixth-color);
   border-spacing: 0;
   margin: 1rem 0;
   min-width: 100%;
   color: var(--sixth-color);
   border-collapse: collapse;
}
.large-table th{
   white-space: nowrap;
   padding: 5px 20px;
}
.large-table th,
.large-table td{
   border: 1px solid var(--sixth-color);
   border-spacing: 0;
   font-size: 1.2rem;
   text-align: left;
}
.large-table td{
   padding: 0.2rem;
}
.large-table td img{
   width: 65px;
}
/* store */

/* Add to store */
.add-form,
.add-a-store-form{
   padding: 1rem 0;
   margin-top: 40px;
}

.add-form .name-field,
.add-form .desc-field,
.add-form .img-field{
   margin: 0.2rem 0;
   display: grid;
   grid-template-columns: 100px auto;
}
.add-form input[type="text"]{
   padding: 0.5rem 0.4rem;
   border: 1px solid var(--sixth-color);
   outline: none;
   border-radius: 5px;
   font-size: 1rem;
}
.add-form input{
   margin-left: 20px;
}
.add-form select{
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 10px;
   background-color: var(--sixth-color);
   margin-left: 20px;
}

/* Add to store */

/* Add a store */
.add-a-store-form .uname-field,
.add-a-store-form .fname-field,
.add-a-store-form .lname-field,
.add-a-store-form .email-field,
.add-a-store-form .password-field,
.add-a-store-form .mobile-field,
.add-a-store-form .sname-field,
.add-a-store-form .city-field,
.add-a-store-form .state-field,
.add-a-store-form .zip-field,
.add-a-store-form .address-field,
.add-a-store-form .image-field,
.add-a-store-form .options-field{
   margin: 0.2rem 0;
   display: grid;
   grid-template-columns: 100px auto;
}

.add-a-store-form input[type="text"],
.add-a-store-form input[type="email"],
.add-a-store-form input[type="password"],
.add-a-store-form .category{
   padding: 0.5rem 0.4rem;
   border: 1px solid var(--sixth-color);
   outline: none;
   border-radius: 5px;
   font-size: 1rem;
}
/* Add a store */

/* Login */
.login{
   background: var(--second-color);
   width: 100%;
   min-height: 100vh;
}

.login form{
   width: 30%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1rem 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 5px var(--sixth-color);
   border-radius: 10px;
}

.login form h4{
   margin: 1rem 0;
}
.login form input{
   width: 100%;
   margin: 0.1rem 0;
   border: 1px solid var(--sixth-color);
   outline: none;
   border-radius: 5px;
   padding: 0.5rem 0.3rem;
   font-size: 1rem;
}

.login form button{
   border: none;
   outline: none;
   padding: 0.5rem;
   border-radius: 5px;
   font-size: 1rem;
   width: 100%;
   margin-top: 1rem; 
   cursor: pointer;
   background-color: var(--first-color);
   color: var(--sixth-color);
}  
/* Login */

/* Store Categories */
.update-window-long,
.update-window-short{
   display: flex;
   flex-direction: column;
   background-color: var(--first-color);
   width: 100%;
   min-height: fit-content;
}
.update-window-short form,
.update-window-long form{
   /* background: orange; */
   margin-top: 4rem;
}

.update-window-long form > div,
.update-window-short form > div{
   display: flex;
   align-items: center;
   margin-bottom: 0.5rem;
}
.update-window-long form > div label,
.update-window-short form > div label{
   width: 150px;
}

 .update-window-long form input[type=text],
 .update-window-short form input[type=text]{
   border: none;
   outline: none;
   padding: 0.3rem;
   border-radius: 5px;
   width: 100%;
 }
 .update-window-long form button,
 .update-window-short form button{
    background: var(--fourth-color);
    padding: 10px;
    color: var(--seventh-color);
    font-size: 1.4rem;
    width: 100%;
    margin-top: 1rem;
 }
/* Store Categories */

.add-more,
.addMoreToStoreButton,
.addMoreToProduct,
.addMoreToRest,
.addMoreResturants,
.addMoreToFood{
   background: var(--third-color);
   color: var(--seventh-color);
   border: none;
   outline: none;
   padding: 10px;
   float: right;
   margin-top: 20px;
   border-radius: 5px;
   cursor: pointer;
}
.add-more span,
.addMoreToStoreButton span,
.addMoreToProduct span,
.addMoreToRest span,
.addMoreResturants span,
.addMoreToFood span{
   margin-right: 5px;
}

/* User Profile */
#user-profile > div{
   display: flex;
   margin-top: 1rem;
   padding: 1rem;
}
.user-image{
   margin-right: 1rem;
}
.user-image img{
   border-radius: 5px;
}
.user-info{
}
.user-info li{
   margin: 10px 0;
   display: flex;
}
.user-info li p{
   width: 200px;
}

/* Customer product */
#customer-product > form select{
   margin: 0 10px;
   background-color: var(--sixth-color);
   border-radius: 5px;
   border: none;
   outline: none;
}
#customer-product table td form input[type=number]{
   width: 100px;
   font-size: 16px;
   padding: 5px;
   border-radius: 5px;
}

/* Single product */
.item-images img{
   border-radius: 5px;
   margin: 0 10px;
}

.heading{
   text-align: center;
   padding: 1rem;
   color: var(--seventh-color);
}

/* Address */
#address form{
   padding: 1rem;
}
#address form div{
   display: flex;
   margin: 5px 0;
}
#address form label{
   width: 120px;
}
#address form input,
#address form textarea{
   border-radius: 5px;
   padding: 5px;
   width: 100%;
}



.samosa li{
   display: flex;
}
.samosa li span{
   margin-left: 20px;
}
